<!--
---
name: confirm
url: /reg/confirm
---
-->
<div class="grid-container vertical-center" ng-controller="RegConfirmController as vm" ng-init="vm.init()">
    <form id="regConfirmForm" name="regConfirmForm" ng-model="regConfirmForm" ng-submit="vm.submit()">
        <div class="grid-block">
            <div class="grid-container small-12 medium-6">
                <div class="grid-content">
                    <p>
                        Please, enter confirmation code to continue the registration
                    </p>
                </div>
                <div class="grid-content">
                    <label>
                        Confirmation code
                        <input type="text" 
                               name="code" 
                               ng-model="vm.params.code" 
                               ng-blur="vm.validate()"
                               ui-mask="9999"
                               ui-mask-placeholder 
                               ui-mask-placeholder-char="space" required/>
                    </label>
                </div>
                <div class="grid-content">
                    <div class="notification alert" ng-class="{'is-active': vm.error}">
                        Confirmation code is not correct
                    </div>
                </div>
                <div class="grid-content">
                    <input type="submit" class="button success" 
                           ng-class="{'disabled': !vm.validate()}"  
                           ng-disabled="!vm.validate()" 
                           value="Confirm"/>
                </div>
            </div>
        </div>
    </form>
</div>
