<!--
---
name: contacts
url: /reg/contacts
---
-->
<div class="grid-container" ng-controller="RegContactsController as vm" ng-init="vm.init()">
    <form id="regContactsForm" name="regContactsForm" ng-model="regContactsForm" ng-submit="vm.submit()">
        <div class="grid-block">
            <div class="grid-container small-12 medium-6">
                <div class="grid-content">
                    <p>
                        Please, enter your contact information for finishing the registration
                    </p>
                </div>
                <div class="grid-content">
                    <label>
                        Your name
                        <input type="text" 
                               name="name" 
                               ng-model="vm.params.name" 
                               ng-blur="vm.validate()"
                               placeholder="Your name" required/>
                        <span class="err" ng-show="regContactsForm.name.$dirty && vm.form.name.$invalid">
                            Name is not correct
                        </span>
                    </label>
                </div>
                <div class="grid-content">
                    <label>
                        Email
                        <input type="text" 
                               name="email" 
                               ng-model="vm.params.email" 
                               ng-blur="vm.validate()"
                               placeholder="Email" required/>
                        <span class="err" ng-show="vm.form.email.$invalid">
                            Email is not correct
                        </span>
                    </label>
                </div>
                <div class="grid-content">
                    <label>
                        Password
                        <input type="text" 
                               name="password" 
                               ng-model="vm.params.password" 
                               ng-blur="vm.validate()"
                               placeholder="Password" required/>
                        <span class="err" ng-show="regContactsForm.password.$dirty && vm.form.password.$invalid">
                            Password must be more then 6 digits
                        </span>
                    </label>
                </div>
                <div class="grid-content">
                    <label>
                        Password twice
                        <input type="text" 
                               name="passwordTwice" 
                               ng-model="vm.passwordTwice" 
                               ng-blur="vm.validate()"
                               placeholder="Password twice" required/>
                        <span class="err" ng-show="regContactsForm.passwordTwice.$dirty && vm.form.passwordTwice.$invalid">
                            Passwords are not equal
                        </span>
                    </label>
                </div>
                <div class="grid-content" ng-show="vm.error">
                    <p>
                        Account can't be created
                    </p>
                </div>
                <div class="grid-content">
                    <input type="submit" class="button success" 
                           ng-class="{'disabled': regContactsForm.$invalid || vm.form.$invalid || regContactsForm.$pristine}"  
                           ng-disabled="regContactsForm.$invalid || vm.form.$invalid || regContactsForm.$pristine" 
                           value="Finish registration"/>
                </div>
            </div>
        </div>
    </form>
</div>
