<!--
---
name: prepare
url: /reg/prepare
---
-->
<div class="grid-container vertical-center" ng-controller="RegPrepareController as vm" ng-init="vm.init()">
    <form id="regPrepareForm" name="regPrepareForm" ng-model="regPrepareForm" ng-submit="vm.submit()">
        <div class="grid-block">
            <div class="grid-container small-12 medium-6">
                <div class="grid-content">
                    <p>
                        Please, enter your mobile number for registration
                    </p>
                </div>
                <div class="grid-content">
                    <label>
                        Mobile number
                        <input type="text" 
                               name="phone" 
                               ng-model="vm.params.phone" 
                               ng-blur="vm.validate()"
                               ui-mask="+9 999 999 99 99"
                               ui-mask-placeholder 
                               ui-mask-placeholder-char="space" required/>
                    </label>
                </div>
                <div class="grid-content">
                    <input type="submit" class="button success" 
                           ng-class="{'disabled': !vm.validate()}"  
                           ng-disabled="!vm.validate()" 
                           value="Get confirmation code"/>
                </div>
            </div>
        </div>
    </form>
</div>
