<!--
---
name: success
url: /reg/success
---
-->
<div class="grid-container vertical-center" ng-controller="RegPrepareController as vm" ng-init="vm.init()">
    <div class="grid-block">
        <div class="grid-container small-12 medium-6 text-center medium-offset-3">
            <div class="grid-content">
                <p>
                    Congratulations, your registration is successfully completed.
                </p>
            </div>
            <div class="grid-content">
                <a class="button success" ng-href="/">
                    To home page
                </a>
            </div>
        </div>
    </div>
</div>
